<% layout('layouts/boilerplate')%> 

<h1>Login</h1>

<br><br>

<form action='/login' method="POST">

    <label for='username'>Enter Username</label>
    <input type='text' id='username' name='username' placeholder='username' required>

    <br><br>

    <label for='password'>Password</label>
    <input type='password' id='password' name='password' placeholder='password' required>

    <br><br>

    <button type='submit'>Login</button>

    
</form>

<br><br>

<a href='/register'>Register</a>